@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  margin: 0 0;
  padding: 0 0;
  background-color: #f3f3f3;
}

h1, h2, h3, h4{
  font-family: 'Merriweather', serif;
}

p{
  font-family: 'Open Sans', sans-serif;
}

#head{
  background-color: #d0674f;
  border-bottom: solid #67292d 5px;
  text-align: center;
  font-size: 32px;
  padding: 10px;
  font-family: 'Merriweather', serif;
}

#text{
  font-size: 18px;
  margin-left: 10px;
}
