@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  margin: 0 0;
  padding: 0 0;
  background-color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4{
  font-family: 'Merriweather', serif;
}

#head{
  background-color: #d0674f;
  border-bottom: solid #67292d 5px;
  text-align: center;
  font-size: 34px;
  padding: 20px;
}

#text{
  font-size: 18px;
  margin-left: 10px;
}
